.qr {
      display: flex;
      margin-top: -3rem;
      position: relative;
      text-overflow: ellipsis;

      

      @media only screen and (max-width: $bp-large) {
            flex-direction: column;
            margin-top: 0rem;
      }
      @media only screen and (max-width: $bp-medium) {
            margin-top: 0rem;
            margin-left: 2rem;
            margin-right: 2rem;
      }

      

      &__card {
            padding: 3rem;
            border-radius: 2rem;
            background-color: white;
            margin: 1rem;
            transform: all .2s;
            max-width: 100%;
            

            
      }

      &__card--0 {
            @media only screen and (max-width: $bp-large) {
                  align-self: center;
            }
      }

      &__card--1 {
            @media only screen and (max-width: $bp-large) {
                  align-self: center;
            }

      }

      &__participate {
            display: flex;
            align-items: center;
            
            @media only screen and (max-width: $bp-small) {
                 flex-direction: column;
                 text-align: center;
            }
            

            &--img {
                  display: block;
                  width: 6.5rem;
                  margin-right: 2rem;

                  @media only screen and (max-width: $bp-small) {
                        margin-bottom: 1rem;
                   }
            }

            &--details {
                  line-height: 1.2;

                  h3 {
                        font-size: 2.4rem;
                        color: $color-primary;
                  }

                  p {
                        font-size: 2rem;
                        color: $color-grey;
                  }
            }
      }

      &__scan {
            display: flex;
            align-items: center;

            @media only screen and (max-width: $bp-small) {
                  flex-direction: column;
                  justify-content: center;
             }

            &--img {
                  width: 15rem;
                  margin-right: 2rem;
                  margin-left: -2rem;
                  margin-bottom: -2rem;

                  @media only screen and (max-width: $bp-small) {
                        margin-bottom: 1rem;
                   }
            }

            &--hash {
                  align-self: center;
                  text-overflow: ellipsis;

                  p {
                        font-size: 1.6rem;
                        letter-spacing: 0.1rem;
                        color: $color-grey;
                        margin-bottom: 1rem;
                  }
            }

            &--awaiting {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;

                  p {
                        letter-spacing: 0;
                  }
            }
      }
}
